.cartas {
  display: flex;
  justify-content: space-around;
}

.cartas img {
  height: 110px;
  width: 100px;
}
.cartasVilao{
  margin-bottom: 100px;
}
.cartasVilao img {
  height: 55px;
  width: 40px;
}
@media (max-height: 780px){
  .cartas img {
    height: 80px;
    width: 70px;
  }
}