.cartas{
  display: flex;
  justify-content: space-around;
}

.cartas img{
    width: 100px;
    height: 110px;
}
.cartasVilao img{ 
    width: 85px;
    height: 85px;
}
.herocards img {
  
}

.carta2 {
  left: 44%; 
  z-index: 1; 
}