.cartas{
  display: flex;
  justify-content: center;
}

.cartas img{
    width: 100px;
    height: 110px;
}
/* .carta1,
.carta2 {
  position: absolute;
  top: 60%; 
  left: 40%;
} */

.carta2 {
  left: 44%; 
  z-index: 1; 
}