
body{
background-color: rgb(26, 22, 22);
}
.bckg{
  text-align: center;
  color: white;
  height: 100dvh;
  display: flex;
  flex-direction: column-reverse;
  background-image: url("./assets/indiv/table/mesaps.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}
.holecards{
  margin: 4%;
}
.container_botoes{
  padding-bottom: 2%;
}
.div_stack{
  padding-bottom: 3%;
}
.middleCards{
  display: flex;
  justify-content: space-between
}
.middleCards img{
  height: 85px;
  width: 80px;
}
.topcards{
  display: flex;
  justify-content: space-around;
  margin-bottom: 6%;
}
.topcards img{
  height: 85px;
  width: 80px;
}
.top img{
  height: 85px;
  width: 80px;
}